@media (max-width: 1024px) {
  .menu_toggle {
    display: inline-block;
  }
  .menu__list {
    display: none;
  }
  #menu_toggle:checked ~ ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0px;
    margin-left: 0px;
  }
  .menu__item:not(:last-child) {
    padding-right: 0px;
  }
  .menu__link {
    color: white;
    font-size: 17px;
    font-weight: 700;
  }
  .menu__list {
    position: fixed;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    top: 0;
    left: 0;
    opacity: 0.6;
    padding: 2%;
    padding-top: 10%;
    padding-bottom: 5%;
    min-width: 80px;
    max-width: 150px;
    height: 100%;
    z-index: 20000;
  }
  .welcome {
    height: 50%;
  }
  .welcome__text {
    padding: 30px 0px;
  }
  .promo__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .promo__wrap {
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__wrap,
.about {
    margin-bottom: 20px;
  }
  .about__wrap {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .about__left {
    display: none;
  }
  .about__right {
    width: 100%;
    display: block;
  }
  .products {
    margin-bottom: 20px;
  }
  .products__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 10px 50%;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
  }
  .testimonial {
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
  }
  .caption:after {
    display: none;
  }
  .caption {
    margin-bottom: 20px;
  }
  .testimonial__footer {
    -ms-grid-columns: 50% 15px 50%;
    grid-template-columns: 50% 50%;
    gap: 15px;
    justify-items: center;
  }
  .offer--list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .eco--left {
    display: none;
  }
  .eco__right {
    width: 100%;
    text-align: center;
    margin-left: 0px;
  }
  .eco--title,
.eco__right--subtitle {
    text-align: center;
  }
  .wrapper {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .categories__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subscribe__wrapper {
    width: auto;
    border-radius: 30px;
  }
  .subscribe__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 10px;
  }
  input {
    margin-left: 0px;
  }
  form {
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscribe--btn {
    margin-top: 5px;
  }
  .contact--link {
    text-align: right;
  }
}
@media (max-width: 768px) {
  .products__list {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    justify-items: center;
  }
  .offer {
    padding-top: 30px;
  }
  .offer--list {
    padding-bottom: 30px;
  }
  .offer--wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .offer--title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .subtitle--offer {
    margin-bottom: 15px;
  }
  .eco__right {
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  footer {
    padding: 20px 0px;
  }
  .footer__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .footer--title--contact {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
  .contact--wrapper {
    display: inline;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
  }
  .footer--title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
    border-top: 1px solid rgb(213, 213, 213);
    border-bottom: 1px solid rgb(213, 213, 213);
    border-left: none;
    border-right: none;
    padding: 10px 0px;
  }
  .pages {
    width: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer--title--contact {
    margin: 10px 0px;
  }
  .pages--item {
    margin-bottom: 5px;
    display: inline-block;
    margin-right: 15px;
  }
}
@media (max-width: 480px) {
  .header__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo--title {
    font-size: 30px;
    margin-right: 18px;
  }
  .menu_toggle::before {
    font-size: 20px;
  }
  .header__left {
    margin-bottom: 10px;
  }
  .welcome__text h1 {
    font-size: 45px;
  }
  .promo__col {
    width: 375px;
  }
  .subtitle {
    font-size: 35px;
  }
  .about__row--img {
    display: none;
  }
  .about__row--right {
    margin-left: 0px;
  }
  .text--about {
    margin-bottom: 20px;
  }
  .subtitle {
    font-size: 25px;
  }
  .testimonial__footer {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    gap: 15px;
    justify-items: center;
  }
  .testimonial--subtitle {
    margin-bottom: 20px;
  }
  .eco__right {
    padding-right: 10px;
    padding-left: 10px;
  }
  .eco__right--subtitle {
    margin-bottom: 20px;
    font-size: 25px;
  }
  .eco__right--subtitle br {
    display: none;
  }
  .eco--subtitle {
    font-size: 20px;
  }
  .categories__list {
    padding: 20px 0px;
  }
  .categories__list--item {
    width: 430px;
  }
  .subscribe__main--text {
    font-size: 20px;
  }
  .subscribe__main--text br {
    display: none;
  }
  input {
    width: 200px;
    height: 60px;
    margin: 20px 0px 30px 0px;
    font-size: 10px;
  }
  .subscribe--btn {
    height: 62px;
  }
  .social--text {
    width: auto;
  }
  .social--block {
    width: auto;
  }
  .pages__list {
    text-align: center;
  }
}